
<pre>  QuickStart
    Good tools make application development quicker and easier to maintain than 
    
    The Angular CLI is a command line interface tool that can create a project,
    The goal in this guide is to build and run a simple Angular application in 
    By the end of the chapter, you'll have a basic understanding of development 
    
    And you can also download the example.
    
    Step 1. Set up the Development Environment 
    You need to set up your development environment before you can do anything.
    
    Install Node.js® and npm if they are not already on your machine.
    
   </pre>
<app-contact [contact-info]="action"></app-contact>



