<form #form="ngForm">
<table>
  <tr>
    <th>code</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let p of productList">
      <td>{{p.code}}</td>
      <td>{{p.name}}</td>
    </tr>
    <tr>
        <td><input type="text" name="code" [(ngModel)]="product.code" #code="ngModel" required minlength="5" />
          {{code.errors | json}}
          <ng-container *ngIf="code.errors && code.touched && code.dirty">
          <span *ngIf="code.invalid">
             Code is invalid. 
            </span>
            <span *ngIf="code.errors.required">
                Code is mandtory. 
               </span>
               <span *ngIf="code.errors.minlength">
                  Code should be min 5 char. 
                 </span>
                </ng-container>
            </td>
        <td><input type="text" name="name" [(ngModel)]="product.name" required></td>
      </tr>
      <tr>
          <td colspan="2"><button (click)="addProduct()" [disabled]="form.invalid">Add</button></td>
        </tr>
  </table>
  
  <form action="" method="POST" role="form">
    <legend>Form title</legend>
  
    <div class="form-group">
      <label for="">label</label>
      <input type="text" class="form-control" id="" placeholder="Input field">
    </div>
  
    
  
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
  {{form.valid}}
  {{form.invalid}}
  {{form.dirty}}
  {{form.errors | json}}
</form>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#"></a>
<div class="dropdown-divider">u89rtyr78t9y4</div>
<a class="dropdown-item" href="#">Separated link</a>
</div>
</li>